@import "../../../sassStyles/_variables.scss";

.todo .btn {
    box-shadow: none;
    padding: 5px;

    &:focus {
        box-shadow: none;
    }

    & img {
        width: 20px;
    }
}

.done input {
    width: 1.4rem;
    height: 1.4rem;
}

.todo-name {
    flex-grow: 1;
}
