@import "../../../sassStyles/_variables.scss";

.motivation {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;

    & img {
        width: 75px;
        margin: 0 auto $normal-margin auto;
    }
}
