@import "../../../sassStyles/_variables.scss";

.validated-form {
    min-width: 20rem;
    width: 40%;

    & .btn {
        width: 100%;
    }
}

.input-group {
    margin-bottom: $normal-margin;
}

.form-floating {
    width: 100%;
}
