.labelled-text {
    & .form-control {
        &[readonly] {
            background-color: white;
            border-width: 0;
        }

        &:focus {
            box-shadow: none;
        }
    }

    & .form-floating {
        width: 100%;
    }

    & .form-floating > .form-control:not(:placeholder-shown) ~ label {
        transform: translateX(0.15rem) translateY(-0.65rem) scale(0.85);
    }
}
